
.slider-value.float-right{
  font-size: 25px;
  line-height: 1.2;
  padding: 0px 20px;
}
.contenedor-slider{
  padding: 15px;
  width: 100%;
}
.contenedor-financiacion{
  font-size: 27px;
  color: black;
  margin: 20px 0px;
}
.contenedor-slider > .form-control.slider{
  background: #6fd4e45e;
}
.ui-slider-handle.ui-corner-all.ui-state-default{
  background: #eb6428;
}
.result-finan {
  border: 1px solid green;
  border-radius: 10px;
  background: #e5f9e7;
  color: green;
  text-align: initial;
  padding: 0px 20px;
  margin-top: 8px;
}
.result-finan h4{
  margin-bottom: 0px;
}